<div class="fantasma"
    [ngStyle]="{'left': fantasma.px + 'px', 'top': fantasma.py + 'px', 'width': fantasma.tx+ 'px', 'height': fantasma.ty+ 'px'}"
    id="fantasma">
    <img src="assets/fnR/fnR1.png" class="imagenFantasma" [ngClass]="{'hidden': img != 1, 'show': img == 1}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR2.png" class="imagenFantasma" [ngClass]="{'hidden': img != 2, 'show': img == 2}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR3.png" class="imagenFantasma" [ngClass]="{'hidden': img != 3, 'show': img == 3}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR4.png" class="imagenFantasma" [ngClass]="{'hidden': img != 4, 'show': img == 4}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR5.png" class="imagenFantasma" [ngClass]="{'hidden': img != 5, 'show': img == 5}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR6.png" class="imagenFantasma" [ngClass]="{'hidden': img != 6, 'show': img == 6}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR7.png" class="imagenFantasma" [ngClass]="{'hidden': img != 7, 'show': img == 7}" alt=""
        id="pacman">

    <img src="assets/fnR/fnR8.png" class="imagenFantasma" [ngClass]="{'hidden': img != 8, 'show': img == 8}" alt=""
        id="pacman">
</div>