.btnConfuguracion span,
.btnJugar span {
    font-size: 25px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700
}

.btnConfuguracion span,
.btnJugar span,
.inputDiv label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.botones,
.inputs {
    right: 10px;
    position: absolute
}

.boton,
.btnPause {
    transition: .3s ease-in-out;
    background-color: unset
}

.botonJuegoPause,
.botones,
.fantasmas,
.inputs,
.objeto,
.sombraAdentro,
.vidas {
    position: absolute
}

.boton,
.botonJuego,
.btnPause {
    background-color: unset
}

.contenedor,
.inputDiv {
    margin-bottom: 15px
}

.inputDiv input[Type=checkbox],
.selectA {
    cursor: pointer
}

.vidas {
    width: 27px;
    height: 27px
}

.imagen,
.sombraAdentro {
    height: 100%;
    width: 100%
}

.crearMapa {
    z-index: -100
}

.btnJugar {
    border: none;
    border-bottom: 2px solid #0ac40a;
    margin-right: 40px
}

.btnJugar span {
    margin: 0 10px;
    color: #0ac40a;
    text-shadow: #0ac40a 1px 0 35px;
    justify-content: center
}

.btnConfuguracion {
    border: none;
    border-bottom: 2px solid #0a35c4
}

.btnConfuguracion span {
    color: #0a35c4;
    text-shadow: #0a35c4 1px 0 35px;
    justify-content: center
}

.btnPause {
    width: max-content;
    border-radius: 10px;
    padding: 5px 14px
}

.btnPause:hover {
    opacity: .8;
    scale: .97
}

.divBtonesPausa {
    width: 100%;
    display: flex;
    justify-content: center
}

.footer,
.pause .titulo {
    justify-content: center
}

.inputs {
    top: 10px;
    display: block
}

.footer,
.inputDiv,
.subTitulo {
    display: flex
}

.inputDiv label {
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(255, 255, 255, .9);
    margin-right: 10px;
    margin-top: 10px
}

.inputDiv input[type=number] {
    background-color: unset;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .9);
    color: #fff;
    border-radius: 9px;
    padding: 7px;
    width: 80px
}

.botones {
    bottom: 10px
}

.boton {
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 700;
    margin-left: 15px
}

.botonJuego,
.nivel {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fila,
hr {
    margin-right: auto;
    margin-left: auto
}

.colorAzul {
    text-shadow: 0 0 20px rgba(10, 53, 196, .9);
    color: #0a35c4;
    border-bottom: 2px solid #0a35c4
}

.colorRojo {
    text-shadow: 0 0 20px rgba(196, 10, 10, .9);
    color: #c40a0a;
    border-bottom: 2px solid #c40a0a
}

.colorBlanco {
    text-shadow: 0 0 20px rgba(255, 255, 255, .9);
    color: #fff;
    border-bottom: 2px solid #fff
}

.boton:hover {
    scale: .95;
    opacity: .7
}

.objeto {
    border-radius: 5px;
    border: 2px solid;
    -webkit-box-shadow: 0 0 12px 2px rgba(22, 60, 184, .8);
    -moz-box-shadow: 0 0 12px 2px rgba(22, 60, 184, .8);
    box-shadow: 0 0 12px 2px rgba(22, 60, 184, .8)
}