<app-mapa [objetos]="objetos" [puntos]="puntos"></app-mapa>

<div *ngFor="let vida of vidas; let i = index;" class="vidas"
    [ngStyle]="{'top':(marginTop + largoTablero - 32) + 'px', 'left':((marginLeft + 8) + (i * 30)) + 'px'}">
    <img [ngClass]="{'animacionOpacidad':(choqueFantasma && i == vidas.length - 1)}"
        src="assets/pacman/pacman_der_2.png" class="imagen" alt="...">
</div>

<div class="nivel"
    [ngStyle]="{'top':(marginTop + largoTablero - 35) + 'px', 'left':((marginLeft + anchoTablero) - 110) + 'px'}">
    <p>Nivel: {{nivel}}</p>
</div>

<div class="fantasmas" *ngFor="let fantasma of fantasmas; let i = index;">
    <app-fantasma [fantasma]="fantasmas[i]" [img]="imgFants[i]"></app-fantasma>
</div>

<app-jugador [ngClass]="{'animacionOpacidad': choqueFantasma}" [px]="jugador.px" [py]="jugador.py" [width]="jugador.tx"
    [height]="jugador.ty" [objetos]="objetos" [img]="img" [ladoDeg]="ladoDeg">
</app-jugador>


<div class="pause" *ngIf="!play">
    <div [ngStyle]="{'margin-top': (marginTop + 20) + 'px'}">
        <h1 class="titulo">Pause</h1>
        <div class="row fila">
            <div class="col">
                <h1 class="subTitulo">Teclas</h1>
                <hr>
                <div class="contenedor">
                    <h4 class="tecla">W <span class="igual">=</span> <span>Arriba</span></h4>
                    <h4 class="tecla">A <span class="igual">=</span> <span>Izquierda</span></h4>
                    <h4 class="tecla">D <span class="igual">=</span> <span>Derecha</span></h4>
                    <h4 class="tecla">S <span class="igual">=</span> <span>Abajo</span></h4>
                    <h4 class="tecla">P <span class="igual">=</span> <span>Pause</span></h4>
                    <h4 class="tecla">Play <span class="igual">=</span> <span>W, A, S, D</span></h4>
                </div>
            </div>
            <div class="col">
                <h1 class="subTitulo">Opciones</h1>
                <hr>
                <div class="contenedor ">
                    <div class="mb-3 inputDiv  d-flex justify-content-end">
                        <label for="" class="label-form">Fantasmas cant:</label>
                        <select name="cantFantasmas" [(ngModel)]="cantFantasmas" class="select-form selectA"
                            (ngModelChange)="reiniciarJuego()">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="mb-3 inputDiv  d-flex justify-content-end">
                        <label for="" class="label-form">Dificultad:</label>
                        <select name="dificultad" [(ngModel)]="dificultad" class="select-form selectA">
                            <option value="Facil">Facil</option>
                            <option value="Normal">Normal</option>
                            <option value="Dificil">Dificil</option>
                            <option value="Injugable">Injugable</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <p class="footer">
                Proyectos desarrollado por <strong style="margin-left: 5px;">Carlos Daniel Jaramillo Tinajero</strong>.
            </p>

            <div class="row">
                <div class="col">
                    <p class="footer" style="margin-bottom: 5px;"><strong>Lenguajes utilizados</strong></p>
                    <p class="footer">
                        JavaScript <br>
                        TypeScript <br>
                        CSS <br>
                        HTML <br>
                    </p>
                </div>
                <div class="col">
                    <p class="footer" style="margin-bottom: 5px;"><strong>FrameWork y libreria</strong></p>
                    <p class="footer">
                        Angular <br>
                        BootStrap <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>